<div id="<%= dom_id article %>">
  <p>
    <strong>Cat:</strong>
    <%= article.cat %>
  </p>

  <p>
    <strong>Raza:</strong>
    <%= article.raza %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>When went:</strong>
    <%= article.when_went %>
  </p>

</div>
